# Project 1

### Dataset - Stack Overflow Data 2019 Survey

### Import library and Gather dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

df = pd.read_csv('./survey_results_public_2019.csv')
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,...,LanguageWorkedWith,LanguageDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,BetterLife,Age
0,3,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",...,HTML/CSS,Elixir;HTML/CSS,NaN,NaN,NaN,NaN,Vim;Visual Studio Code,Linux-based,Yes,28.0
1,4,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",...,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,Linux;Windows,Linux;Windows,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,Yes,22.0
2,5,I am a developer by profession,Yes,Once a month or more often,Ukraine,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",...,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,Yes,30.0
3,6,"I am not primarily a developer, but I write co...",Yes,Never,Canada,"Bachelor���������s degree (BA, BS, B.Eng.,",Mathematics or statistics,Taken an online course in programming or softw...,NaN,Data or business analyst;Data scientist or mac...,...,Java;R;SQL,Python;Scala;SQL,Android;Google Cloud Platform;Linux;Windows,Android;Google Cloud Platform;Linux;Windows,Hadoop,Hadoop;Pandas;TensorFlow;Unity 3D,Android Studio;Eclipse;PyCharm;RStudio;Visual ...,Windows,No,28.0
4,9,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",...,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Bash/Shell/PowerShell;C;HTML/CSS;JavaScript;Ru...,AWS;Docker;Heroku;Linux;MacOS;Slack,AWS;Docker;Heroku;Linux;MacOS;Slack;Other(s):,Node.js;Unity 3D,Node.js,Vim,MacOS,No,23.0

### Clean data

To convert professional coding year field type from categorical to interger

In [2]:
df.loc[df['YearsCodePro']=='Less than 1 year','YearsCodePro']=0
df.loc[df['YearsCodePro']=='More than 50 years','YearsCodePro']=60
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,...,LanguageWorkedWith,LanguageDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,BetterLife,Age
0,3,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",...,HTML/CSS,Elixir;HTML/CSS,NaN,NaN,NaN,NaN,Vim;Visual Studio Code,Linux-based,Yes,28.0
1,4,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",...,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,Linux;Windows,Linux;Windows,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,Yes,22.0
2,5,I am a developer by profession,Yes,Once a month or more often,Ukraine,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",...,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,Yes,30.0
3,6,"I am not primarily a developer, but I write co...",Yes,Never,Canada,"Bachelor���������s degree (BA, BS, B.Eng.,",Mathematics or statistics,Taken an online course in programming or softw...,NaN,Data or business analyst;Data scientist or mac...,...,Java;R;SQL,Python;Scala;SQL,Android;Google Cloud Platform;Linux;Windows,Android;Google Cloud Platform;Linux;Windows,Hadoop,Hadoop;Pandas;TensorFlow;Unity 3D,Android Studio;Eclipse;PyCharm;RStudio;Visual ...,Windows,No,28.0
4,9,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",...,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Bash/Shell/PowerShell;C;HTML/CSS;JavaScript;Ru...,AWS;Docker;Heroku;Linux;MacOS;Slack,AWS;Docker;Heroku;Linux;MacOS;Slack;Other(s):,Node.js;Unity 3D,Node.js,Vim,MacOS,No,23.0

Take a look at the categorical fields

In [3]:
cat_df = df.select_dtypes(include=['object']).copy()
cat_df.head()

,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCodePro,...,CodeRev,LanguageWorkedWith,LanguageDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,BetterLife
0,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",1,...,No,HTML/CSS,Elixir;HTML/CSS,NaN,NaN,NaN,NaN,Vim;Visual Studio Code,Linux-based,Yes
1,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",0,...,No,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,Linux;Windows,Linux;Windows,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,Yes
2,I am a developer by profession,Yes,Once a month or more often,Ukraine,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",9,...,"Yes, because I see value in code review",C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,Yes
3,"I am not primarily a developer, but I write co...",Yes,Never,Canada,"Bachelor���������s degree (BA, BS, B.Eng.,",Mathematics or statistics,Taken an online course in programming or softw...,NaN,Data or business analyst;Data scientist or mac...,3,...,No,Java;R;SQL,Python;Scala;SQL,Android;Google Cloud Platform;Linux;Windows,Android;Google Cloud Platform;Linux;Windows,Hadoop,Hadoop;Pandas;TensorFlow;Unity 3D,Android Studio;Eclipse;PyCharm;RStudio;Visual ...,Windows,No
4,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",4,...,"Yes, because I see value in code review",Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Bash/Shell/PowerShell;C;HTML/CSS;JavaScript;Ru...,AWS;Docker;Heroku;Linux;MacOS;Slack,AWS;Docker;Heroku;Linux;MacOS;Slack;Other(s):,Node.js;Unity 3D,Node.js,Vim,MacOS,No

In [4]:
df1 = cat_df.isna().sum()/cat_df.shape[0]
df2 = df1[df1!=0]
df2

MainBranch                0.001851
EdLevel                   0.015021
UndergradMajor            0.073515
EduOther                  0.034565
OrgSize                   0.029622
DevType                   0.017047
YearsCodePro              0.025448
CareerSat                 0.036469
JobSat                    0.039159
JobFactors                0.035439
WorkPlan                  0.062424
WorkChallenge             0.072694
CodeRev                   0.043979
LanguageWorkedWith        0.006393
LanguageDesireNextYear    0.047088
PlatformWorkedWith        0.078003
PlatformDesireNextYear    0.119852
MiscTechWorkedWith        0.306896
MiscTechDesireNextYear    0.260523
DevEnviron                0.010654
OpSys                     0.006637
BetterLife                0.024225
dtype: float64

Drop records with NA value for some fields. Fields such as education level, salary and years of professional coding is very meaningful and can be easily answered. The answers without such field is not too meaningful so I choose to drop them.

In [6]:
df = df.dropna(subset=['MainBranch', 'EdLevel', 'OrgSize', 'YearsCodePro', 'OpSys', 'ConvertedComp'], axis=0)

### Analyze Data

In [7]:
cat_df = df.select_dtypes(include=['object']).copy()
df1 = cat_df.isna().sum()/cat_df.shape[0]
df2 = df1[df1!=0]
df2

UndergradMajor            0.069432
EduOther                  0.024994
DevType                   0.010617
JobSat                    0.000619
JobFactors                0.002132
WorkPlan                  0.017564
WorkChallenge             0.025200
CodeRev                   0.001307
LanguageWorkedWith        0.003027
LanguageDesireNextYear    0.038499
PlatformWorkedWith        0.071496
PlatformDesireNextYear    0.109743
MiscTechWorkedWith        0.291784
MiscTechDesireNextYear    0.246543
DevEnviron                0.007498
BetterLife                0.017152
dtype: float64

Some NA categorical value means other choices not listed, so fill them with 'Other'

In [8]:
df = df.fillna(value={'UndergradMajor': 'Other', 'EduOther': 'Other', 'DevType': 'Other', 'JobSat': 'Other', 'DevEnviron': 'Other'})
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,...,LanguageWorkedWith,LanguageDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,BetterLife,Age
0,3,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",...,HTML/CSS,Elixir;HTML/CSS,NaN,NaN,NaN,NaN,Vim;Visual Studio Code,Linux-based,Yes,28.0
1,4,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",...,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,Linux;Windows,Linux;Windows,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,Yes,22.0
4,9,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",...,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Bash/Shell/PowerShell;C;HTML/CSS;JavaScript;Ru...,AWS;Docker;Heroku;Linux;MacOS;Slack,AWS;Docker;Heroku;Linux;MacOS;Slack;Other(s):,Node.js;Unity 3D,Node.js,Vim,MacOS,No,23.0
5,10,I am a developer by profession,Yes,Once a month or more often,India,"Master���������s degree (MA, MS, M.Eng., MBA,",Other,Other,"10,000 or more employees",Data or business analyst;Data scientist or mac...,...,C#;Go;JavaScript;Python;R;SQL,C#;Go;JavaScript;Kotlin;Python;R;SQL,Linux;Windows,Android;Linux;Raspberry Pi;Windows,.NET;Node.js;Pandas;Torch/PyTorch,.NET;Node.js;TensorFlow;Torch/PyTorch,Android Studio;Eclipse;IPython / Jupyter;Notep...,Windows,No,NaN
6,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,United States,"Master���������s degree (MA, MS, M.Eng., MBA,","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,Data or business analyst;Database administrato...,...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Rust...,Android;AWS;Docker;IBM Cloud or Watson;iOS;Lin...,Android;AWS;Docker;IBM Cloud or Watson;Linux;S...,Node.js;Xamarin,Node.js;TensorFlow,Vim;Visual Studio;Visual Studio Code;Xcode,Windows,Yes,28.0

Function that creates dummy columns for fields containing multiple answers seperated by ';'

In [10]:
def create_dummy_df2(df, cat_cols):
    """Convert categorical columns into many dummy columns"""
    
    for col in cat_cols:
        df = pd.concat([df.drop(col,axis=1),pd.get_dummies(df[col],prefix=col,prefix_sep='_', drop_first=True, dummy_na=True)],axis=1)
    return df

In [9]:
def create_dummy_df(df, cat_cols):
    """This is revised based on above funcion. It is for fields containing multiple answers seperated by '; """
    
    for col in cat_cols:
        df = pd.concat([df.drop(col,axis=1),df[col].str.get_dummies(sep=';').rename(lambda x: col + '_' + x, axis='columns')],axis=1)
    return df

create dummy fields and fix fields with correct data type

In [11]:
df = create_dummy_df(df, ['UndergradMajor','EduOther','DevType','JobSat','DevEnviron','JobFactors','WorkPlan','WorkChallenge','CodeRev'])
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,OrgSize,YearsCodePro,CareerSat,ConvertedComp,...,WorkChallenge_Inadequate access to necessary tools,WorkChallenge_Lack of support from management,WorkChallenge_Meetings,"WorkChallenge_Non-work commitments (parenting, school work, hobbies, etc.)",WorkChallenge_Not enough people for the workload,WorkChallenge_Time spent commuting,WorkChallenge_Toxic work environment,CodeRev_No,"CodeRev_Yes, because I see value in code review","CodeRev_Yes, because I was told to do so"
0,3,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,1,Slightly satisfied,8820.0,...,1,1,0,0,0,0,0,1,0,0
1,4,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,0,Very satisfied,61000.0,...,0,0,0,0,0,0,0,1,0,0
4,9,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,10 to 19 employees,4,Slightly satisfied,95179.0,...,1,0,0,0,1,0,0,0,1,0
5,10,I am a developer by profession,Yes,Once a month or more often,India,"Master���������s degree (MA, MS, M.Eng., MBA,","10,000 or more employees",10,Slightly dissatisfied,13293.0,...,0,0,0,0,0,0,0,0,1,0
6,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,United States,"Master���������s degree (MA, MS, M.Eng., MBA,",10 to 19 employees,8,Very satisfied,90000.0,...,0,0,1,1,1,0,0,0,1,0

In [12]:
df = df.astype({"LanguageWorkedWith": str, "LanguageDesireNextYear": str, "PlatformWorkedWith": str, "PlatformDesireNextYear": str, "MiscTechWorkedWith": str, "MiscTechDesireNextYear": str})
df['Language'] = df[['LanguageWorkedWith', 'LanguageDesireNextYear']].agg(';'.join, axis=1)
df['Platform'] = df[['PlatformWorkedWith', 'PlatformDesireNextYear']].agg(';'.join, axis=1)
df['MiscTech'] = df[['MiscTechWorkedWith', 'MiscTechDesireNextYear']].agg(';'.join, axis=1)
df = df.drop(['LanguageWorkedWith', 'LanguageDesireNextYear','PlatformWorkedWith', 'PlatformDesireNextYear','MiscTechWorkedWith', 'MiscTechDesireNextYear'],axis=1)
df = create_dummy_df(df, ['Language','Platform','MiscTech'])
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,OrgSize,YearsCodePro,CareerSat,ConvertedComp,...,MiscTech_Other(s):,MiscTech_Pandas,MiscTech_Puppet,MiscTech_React Native,MiscTech_TensorFlow,MiscTech_Torch/PyTorch,MiscTech_Unity 3D,MiscTech_Unreal Engine,MiscTech_Xamarin,MiscTech_nan
0,3,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,1,Slightly satisfied,8820.0,...,0,0,0,0,0,0,0,0,0,1
1,4,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,0,Very satisfied,61000.0,...,0,0,0,0,0,0,0,0,0,0
4,9,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,10 to 19 employees,4,Slightly satisfied,95179.0,...,0,0,0,0,0,0,1,0,0,0
5,10,I am a developer by profession,Yes,Once a month or more often,India,"Master���������s degree (MA, MS, M.Eng., MBA,","10,000 or more employees",10,Slightly dissatisfied,13293.0,...,0,1,0,0,1,1,0,0,0,0
6,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,United States,"Master���������s degree (MA, MS, M.Eng., MBA,",10 to 19 employees,8,Very satisfied,90000.0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
spike_cols = [col for col in df.columns if 'nan' in col]
print(spike_cols)

['UndergradMajor_A business discipline (ex. accounting, finance, marketing)', 'JobFactors_Financial performance or funding status of the company or organization', 'Language_nan', 'Platform_nan', 'MiscTech_nan']

In [15]:
df = df.drop(['Language_nan', 'Platform_nan', 'MiscTech_nan'], axis=1)
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,OrgSize,YearsCodePro,CareerSat,ConvertedComp,...,MiscTech_Node.js,MiscTech_Other(s):,MiscTech_Pandas,MiscTech_Puppet,MiscTech_React Native,MiscTech_TensorFlow,MiscTech_Torch/PyTorch,MiscTech_Unity 3D,MiscTech_Unreal Engine,MiscTech_Xamarin
0,3,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,1,Slightly satisfied,8820.0,...,0,0,0,0,0,0,0,0,0,0
1,4,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,0,Very satisfied,61000.0,...,0,0,0,0,0,0,0,0,0,0
4,9,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,10 to 19 employees,4,Slightly satisfied,95179.0,...,1,0,0,0,0,0,0,1,0,0
5,10,I am a developer by profession,Yes,Once a month or more often,India,"Master���������s degree (MA, MS, M.Eng., MBA,","10,000 or more employees",10,Slightly dissatisfied,13293.0,...,1,0,1,0,0,1,1,0,0,0
6,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,United States,"Master���������s degree (MA, MS, M.Eng., MBA,",10 to 19 employees,8,Very satisfied,90000.0,...,1,0,0,0,0,1,0,0,0,1

In [16]:
df.columns[0:20]

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'Country',
       'EdLevel', 'OrgSize', 'YearsCodePro', 'CareerSat', 'ConvertedComp',
       'WorkWeekHrs', 'CodeRevHrs', 'OpSys', 'BetterLife', 'Age',
       'UndergradMajor_A business discipline (ex. accounting, finance, marketing)',
       'UndergradMajor_A health science (ex. nursing, pharmacy, radiology)',
       'UndergradMajor_A humanities discipline (ex. literature, history, philosophy)',
       'UndergradMajor_A natural science (ex. biology, chemistry, physics)',
       'UndergradMajor_A social science (ex. anthropology, psychology, political science)'],
      dtype='object')

In [17]:
df_check = df.select_dtypes(include=['object']).copy()
df_check.head()

,MainBranch,Hobbyist,OpenSourcer,Country,EdLevel,OrgSize,YearsCodePro,CareerSat,OpSys,BetterLife
0,"I am not primarily a developer, but I write co...",Yes,Never,Thailand,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,1,Slightly satisfied,Linux-based,Yes
1,I am a developer by profession,No,Never,United States,"Bachelor���������s degree (BA, BS, B.Eng.,",100 to 499 employees,0,Very satisfied,Windows,Yes
4,I am a developer by profession,Yes,Once a month or more often,New Zealand,Some college/university study without earning ...,10 to 19 employees,4,Slightly satisfied,MacOS,No
5,I am a developer by profession,Yes,Once a month or more often,India,"Master���������s degree (MA, MS, M.Eng., MBA,","10,000 or more employees",10,Slightly dissatisfied,Windows,No
6,I am a developer by profession,Yes,Less than once a month but more than once per ...,United States,"Master���������s degree (MA, MS, M.Eng., MBA,",10 to 19 employees,8,Very satisfied,Windows,Yes

In [18]:
df.iloc[:, 0:20].dtypes

Respondent                                                                             int64
MainBranch                                                                            object
Hobbyist                                                                              object
OpenSourcer                                                                           object
Country                                                                               object
EdLevel                                                                               object
OrgSize                                                                               object
YearsCodePro                                                                          object
CareerSat                                                                             object
ConvertedComp                                                                        float64
WorkWeekHrs                                                                          float64
CodeRevHrs                                                                           float64
OpSys                                                                                 object
BetterLife                                                                            object
Age                                                                                  float64
UndergradMajor_A business discipline (ex. accounting, finance, marketing)              int64
UndergradMajor_A health science (ex. nursing, pharmacy, radiology)                     int64
UndergradMajor_A humanities discipline (ex. literature, history, philosophy)           int64
UndergradMajor_A natural science (ex. biology, chemistry, physics)                     int64
UndergradMajor_A social science (ex. anthropology, psychology, political science)      int64
dtype: object

In [19]:
df = df.astype({"YearsCodePro": int})

In [20]:
df = create_dummy_df2(df, ['MainBranch','Hobbyist','OpenSourcer','Country','EdLevel','OrgSize','OpSys'])
df.head()

,Respondent,YearsCodePro,CareerSat,ConvertedComp,WorkWeekHrs,CodeRevHrs,BetterLife,Age,"UndergradMajor_A business discipline (ex. accounting, finance, marketing)","UndergradMajor_A health science (ex. nursing, pharmacy, radiology)",...,OrgSize_2-9 employees,OrgSize_20 to 99 employees,"OrgSize_5,000 to 9,999 employees",OrgSize_500 to 999 employees,"OrgSize_Just me - I am a freelancer, sole proprietor, etc.",OrgSize_nan,OpSys_Linux-based,OpSys_MacOS,OpSys_Windows,OpSys_nan
0,3,1,Slightly satisfied,8820.0,40.0,NaN,Yes,28.0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,4,0,Very satisfied,61000.0,80.0,NaN,Yes,22.0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,9,4,Slightly satisfied,95179.0,32.0,12.0,No,23.0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,10,10,Slightly dissatisfied,13293.0,70.0,4.0,No,NaN,0,0,...,0,0,0,0,0,0,0,0,1,0
6,13,8,Very satisfied,90000.0,40.0,5.0,Yes,28.0,0,0,...,0,0,0,0,0,0,0,0,1,0

People haven't fill code review hours should don't review code, otherwise why not fill it since it is not difficult.

In [21]:
df = df.fillna(value={'CodeRevHrs': 0})

In [22]:
df_test = df.isna().sum()
df_test = df_test[df_test!=0]
df_test

WorkWeekHrs     302
BetterLife      748
Age            1584
dtype: int64

Drop some more NA record. Field like age and working hours are important and easy to answer. People haven't fill them maybe not serious on this survey. Drop them.

In [23]:
df = df.dropna(subset=['WorkWeekHrs', 'Age'], axis=0)

##### What factors have significant influence on salary

drop irrelevant fields

In [31]:
df_salary = df.drop(['Respondent','CareerSat','BetterLife'],axis=1)
df_salary.head()

,YearsCodePro,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age,"UndergradMajor_A business discipline (ex. accounting, finance, marketing)","UndergradMajor_A health science (ex. nursing, pharmacy, radiology)","UndergradMajor_A humanities discipline (ex. literature, history, philosophy)","UndergradMajor_A natural science (ex. biology, chemistry, physics)","UndergradMajor_A social science (ex. anthropology, psychology, political science)",...,OrgSize_2-9 employees,OrgSize_20 to 99 employees,"OrgSize_5,000 to 9,999 employees",OrgSize_500 to 999 employees,"OrgSize_Just me - I am a freelancer, sole proprietor, etc.",OrgSize_nan,OpSys_Linux-based,OpSys_MacOS,OpSys_Windows,OpSys_nan
0,1,8820.0,40.0,0.0,28.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,61000.0,80.0,0.0,22.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,95179.0,32.0,12.0,23.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,8,90000.0,40.0,5.0,28.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,2,57060.0,40.0,4.0,31.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Q1 Model

Build a linear regression model, split train and test dataset, train the data and get the model. Then predict and evaluate the model.

In [25]:
X_salary = df_salary.drop(['ConvertedComp'],axis=1)
y_salary = df_salary['ConvertedComp']
X_salary_train, X_salary_test, y_salary_train, y_salary_test = train_test_split(X_salary, y_salary, test_size = .30, random_state=42)

In [26]:
lm_model = LinearRegression(normalize=True)
lm_model.fit(X_salary_train, y_salary_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [27]:
y_salary_hat = lm_model.predict(X_salary_test)
r2_score(y_salary_test, y_salary_hat)

-3.918211292146594e+23

In [28]:
mean_squared_error(y_salary_test, y_salary_hat)

3.3387068743093516e+34

The result seems terrible! There are hundreds of fields, too much! I think I have to simplify the model...

remove all categorical fields and try again

In [44]:
columns_filter = ~df_salary.columns.str.contains('_')
df_salary = df_salary.loc[:,columns_filter]
df_salary.head()

   YearsCodePro  ConvertedComp  WorkWeekHrs  CodeRevHrs   Age
0             1         8820.0         40.0         0.0  28.0
1             0        61000.0         80.0         0.0  22.0
4             4        95179.0         32.0        12.0  23.0
6             8        90000.0         40.0         5.0  28.0
7             2        57060.0         40.0         4.0  31.0

In [45]:
X_salary = df_salary.drop(['ConvertedComp'],axis=1)
y_salary = df_salary['ConvertedComp']
X_salary_train, X_salary_test, y_salary_train, y_salary_test = train_test_split(X_salary, y_salary, test_size = .30, random_state=42)

In [46]:
lm_model = LinearRegression(normalize=True)
lm_model.fit(X_salary_train, y_salary_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [48]:
y_salary_hat = lm_model.predict(X_salary_test)

In [49]:
r2_score(y_salary_test, y_salary_hat)

0.009418873404226535

### Q1 Result Table

The result seems good this time. Let's take a look at the coefficients

In [54]:
df_salary_coef = X_salary[0:0]
a_series = pd.Series(lm_model.coef_, index = X_salary.columns)
df_salary_coef = df_salary_coef.append(a_series, ignore_index=True)
df_salary_coef

   YearsCodePro  WorkWeekHrs  CodeRevHrs          Age
1   2166.046463    47.048987 -364.755616  1818.594783

Years of coding and age are positive, certainly, because experience are important.
In my opinion, code review hour should be positive, which helps people to learn. Maybe because it wastes time or sacrifice too working time?
Working hours are positive but small, this makes sense, working efficiency is important.

Test Myself

In [59]:
X_salary_test.head()

       YearsCodePro  WorkWeekHrs  CodeRevHrs   Age
42730             7         38.0         4.0  26.0
46340             2         37.0         2.0  23.0
46560            21         25.0         0.0  52.0
22990             2         40.0         0.0  20.0
44000            12         40.0         8.0  35.0

6 years of professionala coding experience; average 8 hours daily work, 5 working days per week; average 2 hours code review daily; 32 years old

In [61]:
X_salary_XL = X_salary_test[0:0]
profile_list = [6,40,10,32]
a_series = pd.Series(profile_list, index = X_salary_XL.columns)
X_salary_XL = X_salary_XL.append(a_series, ignore_index=True)
X_salary_XL

   YearsCodePro  WorkWeekHrs  CodeRevHrs   Age
0             6         40.0        10.0  32.0

In [63]:
y_salary_XL = lm_model.predict(X_salary_XL)
y_salary_XL

array([130958.74812943])

The predicted salary is double of my current standard...

### Q2 Model

##### What factors have significant influence on career satisfaction

similar to salary part

In [57]:
df_career = df.drop(['Respondent','BetterLife'],axis=1).dropna(subset=['CareerSat'], axis=0)
df_career.head()

,YearsCodePro,CareerSat,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age,"UndergradMajor_A business discipline (ex. accounting, finance, marketing)","UndergradMajor_A health science (ex. nursing, pharmacy, radiology)","UndergradMajor_A humanities discipline (ex. literature, history, philosophy)","UndergradMajor_A natural science (ex. biology, chemistry, physics)",...,OrgSize_2-9 employees,OrgSize_20 to 99 employees,"OrgSize_5,000 to 9,999 employees",OrgSize_500 to 999 employees,"OrgSize_Just me - I am a freelancer, sole proprietor, etc.",OrgSize_nan,OpSys_Linux-based,OpSys_MacOS,OpSys_Windows,OpSys_nan
0,1,Slightly satisfied,8820.0,40.0,0.0,28.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,Very satisfied,61000.0,80.0,0.0,22.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,Slightly satisfied,95179.0,32.0,12.0,23.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,8,Very satisfied,90000.0,40.0,5.0,28.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,2,Very satisfied,57060.0,40.0,4.0,31.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [58]:
columns_filter = ~df_career.columns.str.contains('_')
df_career = df_career.loc[:,columns_filter]
df_career.head()

,YearsCodePro,CareerSat,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
0,1,Slightly satisfied,8820.0,40.0,0.0,28.0
1,0,Very satisfied,61000.0,80.0,0.0,22.0
4,4,Slightly satisfied,95179.0,32.0,12.0,23.0
6,8,Very satisfied,90000.0,40.0,5.0,28.0
7,2,Very satisfied,57060.0,40.0,4.0,31.0

In [72]:
df_career.groupby('CareerSat').agg('count')

,YearsCodePro,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
CareerSat,,,,,
Neither satisfied nor dissatisfied,3265,3265,3265,3265,3265
Slightly dissatisfied,4179,4179,4179,4179,4179
Slightly satisfied,14747,14747,14747,14747,14747
Very dissatisfied,1772,1772,1772,1772,1772
Very satisfied,17796,17796,17796,17796,17796

quantify career satisfaction by value -50, -20, 0, 20, 50

In [73]:
df_career.loc[df['CareerSat']=='Very dissatisfied','CareerSat']=-50
df_career.loc[df['CareerSat']=='Slightly dissatisfied','CareerSat']=-20
df_career.loc[df['CareerSat']=='Neither satisfied nor dissatisfied','CareerSat']=0
df_career.loc[df['CareerSat']=='Slightly satisfied','CareerSat']=20
df_career.loc[df['CareerSat']=='Very satisfied','CareerSat']=50
df_career = df_career.astype({"CareerSat": int})

In [75]:
df_career.head()

   YearsCodePro  CareerSat  ConvertedComp  WorkWeekHrs  CodeRevHrs   Age
0             1         20         8820.0         40.0         0.0  28.0
1             0         50        61000.0         80.0         0.0  22.0
4             4         20        95179.0         32.0        12.0  23.0
6             8         50        90000.0         40.0         5.0  28.0
7             2         50        57060.0         40.0         4.0  31.0

In [84]:
X_career = df_career.drop(['CareerSat'],axis=1)
y_career = df_career['CareerSat']
X_career_train, X_career_test, y_career_train, y_career_test = train_test_split(X_career, y_career, test_size = .30, random_state=42)

In [85]:
lm_model = LinearRegression(normalize=True)
lm_model.fit(X_career_train, y_career_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [86]:
y_career_hat = lm_model.predict(X_career_test)

In [87]:
r2_score(y_career_test, y_career_hat)

0.005464795141634338

result score is good

### Q2 Result Table

In [88]:
df_career_coef = X_career[0:0]
a_series = pd.Series(lm_model.coef_, index = X_career.columns)
df_career_coef = df_career_coef.append(a_series, ignore_index=True)
df_career_coef

   YearsCodePro  ConvertedComp  WorkWeekHrs  CodeRevHrs       Age
0      0.200428       0.000006     0.005511     0.15576 -0.159337

salary seems not have as much impact on career satisfaction as I thought.
Young people seems are more likely to be satisfied by their career development.

Try to predict based on my own data

In [89]:
X_career_XL = X_career_test[0:0]
profile_list = [6,50000,40,10,32]
a_series = pd.Series(profile_list, index = X_career_XL.columns)
X_career_XL = X_career_XL.append(a_series, ignore_index=True)
X_career_XL

   YearsCodePro  ConvertedComp  WorkWeekHrs  CodeRevHrs   Age
0             6        50000.0         40.0        10.0  32.0

In [90]:
y_career_XL = lm_model.predict(X_career_XL)
y_career_XL

array([24.30081151])

Hmm... Slightly satisfied, but my actual situation is slightly dissatisfied

### Q3 Model

##### What factors have significant influence on life of next generation

similar to previous parts

In [105]:
df_life = df.dropna(subset=['CareerSat','BetterLife'], axis=0)
df_life = df_life.drop(['Respondent'],axis=1)
df_life.head()

,YearsCodePro,CareerSat,ConvertedComp,WorkWeekHrs,CodeRevHrs,BetterLife,Age,"UndergradMajor_A business discipline (ex. accounting, finance, marketing)","UndergradMajor_A health science (ex. nursing, pharmacy, radiology)","UndergradMajor_A humanities discipline (ex. literature, history, philosophy)",...,OrgSize_2-9 employees,OrgSize_20 to 99 employees,"OrgSize_5,000 to 9,999 employees",OrgSize_500 to 999 employees,"OrgSize_Just me - I am a freelancer, sole proprietor, etc.",OrgSize_nan,OpSys_Linux-based,OpSys_MacOS,OpSys_Windows,OpSys_nan
0,1,Slightly satisfied,8820.0,40.0,0.0,Yes,28.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,Very satisfied,61000.0,80.0,0.0,Yes,22.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,Slightly satisfied,95179.0,32.0,12.0,No,23.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,8,Very satisfied,90000.0,40.0,5.0,Yes,28.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,2,Very satisfied,57060.0,40.0,4.0,Yes,31.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [106]:
columns_filter = ~df_life.columns.str.contains('_')
df_life = df_life.loc[:,columns_filter]
df_life.head()

,YearsCodePro,CareerSat,ConvertedComp,WorkWeekHrs,CodeRevHrs,BetterLife,Age
0,1,Slightly satisfied,8820.0,40.0,0.0,Yes,28.0
1,0,Very satisfied,61000.0,80.0,0.0,Yes,22.0
4,4,Slightly satisfied,95179.0,32.0,12.0,No,23.0
6,8,Very satisfied,90000.0,40.0,5.0,Yes,28.0
7,2,Very satisfied,57060.0,40.0,4.0,Yes,31.0

quantify expectation of next generation better life as 100 and -100

In [107]:
df_life.loc[df['CareerSat']=='Very dissatisfied','CareerSat']=-50
df_life.loc[df['CareerSat']=='Slightly dissatisfied','CareerSat']=-20
df_life.loc[df['CareerSat']=='Neither satisfied nor dissatisfied','CareerSat']=0
df_life.loc[df['CareerSat']=='Slightly satisfied','CareerSat']=20
df_life.loc[df['CareerSat']=='Very satisfied','CareerSat']=50
df_life.loc[df['BetterLife']=='Yes','BetterLife']=100
df_life.loc[df['BetterLife']=='No','BetterLife']=-100
df_life = df_life.astype({"CareerSat": int, "BetterLife": int})
df_life.head()

,YearsCodePro,CareerSat,ConvertedComp,WorkWeekHrs,CodeRevHrs,BetterLife,Age
0,1,20,8820.0,40.0,0.0,100,28.0
1,0,50,61000.0,80.0,0.0,100,22.0
4,4,20,95179.0,32.0,12.0,-100,23.0
6,8,50,90000.0,40.0,5.0,100,28.0
7,2,50,57060.0,40.0,4.0,100,31.0

In [108]:
X_life = df_life.drop(['BetterLife'],axis=1)
y_life = df_life['BetterLife']
X_life_train, X_life_test, y_life_train, y_life_test = train_test_split(X_life, y_life, test_size = .30, random_state=42)

In [109]:
lm_model = LinearRegression(normalize=True)
lm_model.fit(X_life_train, y_life_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [110]:
y_life_hat = lm_model.predict(X_life_test)

In [111]:
r2_score(y_life_test, y_life_hat)

0.0156315160465329

model score is OK

### Q3 Result Table

In [112]:
df_life_coef = X_life[0:0]
a_series = pd.Series(lm_model.coef_, index = X_life.columns)
df_life_coef = df_life_coef.append(a_series, ignore_index=True)
df_life_coef

   YearsCodePro  CareerSat  ConvertedComp  WorkWeekHrs  CodeRevHrs     Age
0      0.853572   0.208858  -6.235874e-07     0.011869    0.402221 -1.7092

Older people tend to have negative opinion.
Years of coding and hours of code review is positive, maybe experienced people understands information technology changing life better.
People satisfied with their career has positive opinion.

predict base on my own data

In [113]:
X_life_XL = X_life_test[0:0]
profile_list = [6,-20,50000,40,10,32]
a_series = pd.Series(profile_list, index = X_life_XL.columns)
X_life_XL = X_life_XL.append(a_series, ignore_index=True)
X_life_XL

   YearsCodePro  CareerSat  ConvertedComp  WorkWeekHrs  CodeRevHrs   Age
0             6        -20        50000.0         40.0        10.0  32.0

In [114]:
y_life_XL = lm_model.predict(X_life_XL)
y_life_XL

array([14.75511148])

slitly positive. Actually my opinion is negative...

### End
### Thank you